.pac-container {
  /*display: none;*/
  box-sizing: content-box;
  position: relative;
  //width: inherit;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: .5em 0 !important;
  background: #ffffff;
  border: 2px solid $mfc-orange;
  border-top: none;
  border-radius: 0 0 20px 20px !important;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all .2s ease-out;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .1);
  z-index: 1;
  width: calc(100% + 8px);

  /* Hide scrollbar for IE and MS Edge */
  -ms-overflow-style: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  &.active {
    display: block;
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 18px;
    border-radius: 0 0 30px 30px !important;
  }

  @media (min-width: $breakpoint-laptop) {
    font-size: 24px;
    border-radius: 0 0 40px 40px !important;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 36px;
    border-width: 4px;
    border-radius: 0 0 50px 50px !important;
  }
}

.pac-item {
  width: inherit;
  padding: 0 1em;
  font-size: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  transition: .1s background-color ease-out;
  cursor: pointer;
  text-transform: capitalize;
  color: rgba(0, 0, 0, .5);
  line-height: 1.5em;

  &:hover {
    color: rgba(0, 0, 0, .75);
    background: rgba(0, 0, 0, .1);
  }

  &-query {
    font-size: inherit;
    margin-right: .25em;
  }
}

.pac-icon {
  opacity: .5;
  background-size: 6px;
  background: url("https://lh3.googleusercontent.com/proxy/FHzWVvsUDOhZYlANe-yLjkIwd8einq1jWI76ZOrrNC36mF3YnlXcC1eW4CNUqXquPBLYQQ-WceAiDVWXbF5KFGykDWQzRdJNFo3Oy4P0VfNEMvAJPE8ufkepcN66CYrU") no-repeat center;
  height: 1em;
  width: 6px;
  vertical-align: top;
  margin-right: .25em;

  @media (min-width: $breakpoint-tablet) {
    background-size: 8px;
    width: 8px;
  }

  @media (min-width: $breakpoint-laptop) {
    background-size: 12px;
    width: 12px;
  }

  @media (min-width: $breakpoint-desktop) {
    background-size: 16px;

    width: 16px;
  }
}